@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0b1220;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-navy-950: #050e1c;
  --color-navy-900: #0a1a30;
  --color-navy-800: #0f2747;
  --color-navy-700: #163863;
  --color-navy-600: #1f4d85;

  --color-accent-400: #ffb238;
  --color-accent-500: #f59e0b;
  --color-accent-600: #d97706;
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}
